{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Produtos</h1>
    </header>

    <main>
        <div class="product-list">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Preço: R$ {{ product.price }}</p>
                <p>Categoria: {{ product.category }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
